.tournament-container {
    display: flex;
    flex-wrap: wrap;
}

.tournament-box {
    position: relative;
    margin: 10px;
}

.tournament-img {
    object-fit: cover;
    width: 400px;
    height: 250px;
}

.tournament-text {
    position: absolute;
    bottom: 8px;
    left: 16px;
}