/*TEMP*/

:root {
    --maincolor: rgb(83, 246, 255);
}

.form{
    background-color: transparent;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--maincolor);
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    /* height: 600px; */
}

.form-body{
    text-align: left;
    padding: 20px 10px;
}

.form-body > *{
    padding: 5px;
}

.form-label{
    width: 100%;
}

.form-input{
    width: 100%;
    text-align: center;
}

.footer{
    text-align: center;
}

.btn{
    border-radius: 5px;
    border: 1px, black, solid;
}